<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    <div class="open_grepper_editor" title="Edit & Save To Grepper"></div>
    <h3>Our Flask Buttons<h3>
      <form method="post" action="/">
          <input type="submit" value="VALUE1" name="action1"/>
          <input type="submit" value="VALUE2" name="action2" />
      </form><div class="open_grepper_editor" title="Edit & Save To Grepper"></div>
  </body>
</html>